.item-btn {
  background-color: #9e5f13;
  padding: 8px;
  margin-top: 10px;
  border-radius: 5px;
}

.item-btn:hover {
  background-color: #e79c40;
}

.btn-coffee {
  background-color: #9e5f13;
}

.btn-coffee:hover {
  background-color: #e79c40;
}
